# Slack Incoming Webhook URL
# Slack アプリの設定ページから取得してください:
#   https://api.slack.com/apps -> アプリを選択 -> Incoming Webhooks
SLACK_WEBHOOK_URL=your_webhook_url_here

# Microsoft Azure AD アプリの設定
# Azure Portal でアプリ登録後に取得してください:
#   https://portal.azure.com -> Azure Active Directory -> アプリの登録
AZURE_CLIENT_ID=your_azure_client_id_here
# 個人アカウント: common / 法人アカウント: テナントID を指定
AZURE_TENANT_ID=common
